.header {
    background: var(--white);
    border: 1px solid teal;
}

.header__logo {

}

.header__theme {

}

.header__title {
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
}

.header__tabs {

}
